@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* background-color: rgb(15, 23, 42); */
    background-image: url("@/assets/images/retrowave.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: system-ui;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#mapContainer {
    width: 100%;
    height: 580px;
    box-shadow: 5px 5px 5px #888;
}